body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: #f1f1f1;
   
}

.container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    padding: 30px;
}

.timer_submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timer {
    margin-right: 10px;
    font-size: 1.4em;
}

#submit {
    padding: 6px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: violet;
    cursor: pointer;
    border: none;
}
.message {
    text-align: center;
    color: red;
}

.question_numbers {
    line-height: 2em;
    margin: 15px 0px;
    text-align: center;
}

.question_numbers > span {
    background-color: violet;
    padding: 5px 15px;
    margin-right: 15px;
    cursor: pointer;
}   

#current {
    background-color: yellow;
}
.question { 
    width:100%;
    margin: 5px 0px;
    height: 140px;
    font-size: 1.3em;
    word-break: break-all;
    line-height: 1.2em;
}

.option_list > li {
    word-break: break-all;
    line-height: 1.2;
    padding: 10px;
    border: 2px solid black;
    margin: 10px 0px;
    font-size: 1em;
    cursor: pointer;
    list-style-type: none;
}


.handler_button {
    margin: 10px 0px;
    display: flex;
    justify-content: flex-end;
}

.handler_button > button {
    padding: 8px 15px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-left: 2em;
}

#previous {
    background-color: antiquewhite;
}

#next {
    background-color: violet;
}

.option_list > li:hover {
    background-color: rgb(220, 222, 225);
}

.option_list> li:nth-child(1){
    border: 3px solid rgb(237, 207, 54);
}
.option_list> li:nth-child(2){
    border: 3px solid pink;
}
.option_list> li:nth-child(3){
    border: 3px solid yellowgreen;
}
.option_list> li:nth-child(4){
    border: 3px solid violet;
}

#center{
    display: grid;
    place-items: center;
    height: 60vh;
}

.start_quiz > button {
    padding: 20px 30px;
    border: none;
    background-color: violet;
    font-size: 1.5em;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}

.start_quiz {
    text-align: center;
}

#selected {
    background-color: aquamarine;
}

#retake_quiz {
    padding: 10px 15px;
    text-transform: uppercase;
    word-spacing: 0.2em;
    font-size: 1em;
    background-color: violet;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}



.pagination {
    display: grid;
}

.pagination ul{
    place-self: center;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background: #fff;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  .pagination ul li{
    color: #20B2AA;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  .pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
  }
  .pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots{
    font-size: 22px;
    cursor: default;
  }
  .pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
  }
  .pagination li.active,
  .pagination ul li.numb:hover,
  .pagination ul li:first-child:hover,
  .pagination ul li:last-child:hover{
    color: #fff;
    background: #20B2AA;
  }

  
.progess_bar {
    background-color: #535c68;
    width: 300px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  
  .circular-progress {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
  }
  
  .circular-progress::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #535c68;
  }
  .course-value {
    position: relative;
    color: #eb4d4b;
    font-size: 35px;
    font-weight: 500;
  }

  .game_over {
    width: 450px;
    height: auto;
  }

  .up {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    height: 250px;
  }

.right {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 20px;
}
.right > P {
font-size: 1.4rem;
}

.down {
text-align: center;
}

.down > p {
    font-size: 1.2em;
}

#review_quiz {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: violet;
}
@media only screen and (max-width: 600px) {
   
    .container {
        width: 100%;
        padding: 10px;
    }
}