body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: #f1f1f1;
}
#msg{ 
    background-color: red;
}

li {
    list-style-type: none;
    
}

.disp_num {
    margin-bottom: 0.5em;
}
.disp_num > span {
    background-color: rgb(247, 196, 237);
    text-align: center;
    padding: 6px 15px;
    cursor: pointer;
    margin: 0px 10px 0px 10px;
}
.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    min-width: 200px;
    background-color: white;
    height: 70vh;
    padding: 0px 20px 15px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#number {
    text-align: center;
    color: white;
    width: 1em;
    height: 1em;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: blue;
}


.list {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: red; */
}




.question {
    word-break: break-all;
    max-width: 100%;
    border-radius: 5px;
    background-color: rgb(238, 238, 235);
}
#selected {
    background-color: aquamarine;
}

.option_list {
    width: 100%;
}

.options {
    line-height: 12px;
    padding: 8px;
    margin-top: 10px;
}

.options:hover {
    background-color: #f1f1f1;
}

.options:nth-child(1){
    border: 3px solid skyblue;
}

.options:nth-child(2){
    border: 3px solid orange;
}

.options:nth-child(3) {
    border: 3px solid yellowgreen;
}

.options:nth-child(4) {
    border: 3px solid violet;
}

h1{
    color: tomato;
}

.task {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task button {
    padding: 8px 30px;
    background-color: violet;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
}

@media only screen and (max-width: 600px) {
   
    .container {
        width: 90%;
        margin: 10px;
    }
}