*{
    box-sizing: border-box;

}

.main {
    width: 90vw;
    height:90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input {
    width: 300px;
    font-size: 1.2em;
    padding: 5px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid black;
}
#submit {
    width: 100px;
    height: 35px;
    font-size: 1.2em;
    background-color: tomato;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
*:focus {
    outline: none;
}

input :focus{
    outline: none;
    border: none;
}

.elem {
    background-color:yellow;
    width: 400px;
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 1.1em;
    margin: 10px 0px;
    position: relative;
}

.text {
    flex: 1;
    word-break: break-all;
}

.edit {
    background-color: rgb(10, 241, 29);
    padding: 10px 15px;
    margin:  0px 5px;
    cursor: pointer;
}

.del {
    background-color: red;
    padding: 10px 15px;
    margin: 0px 5px;
    cursor: pointer; 
}
.fa-regular, .fa-solid {
    pointer-events: none;
}

.textEffect {
    text-decoration: line-through;
}

.removed-item {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    /*transform origin is moved to the bottom left corner*/
    transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
}

    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(90deg);
    }
}

/* animate new box */
.new-box {
	animation: append-animate .3s linear;
}


@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.check-area {
    width: 300px;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 30px;
    overflow: hidden;
    padding: 2px;
    resize: both;
    border:none;
    resize: none;;
    background-color:yellow;
}

